# --- Python cache and build files ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual & Conda environments ---
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
aifs/
conda-meta/
pkgs/

# --- Jupyter & Python temp ---
.ipynb_checkpoints/
*.ipynb~
*.pyc
*.pyo
.mypy_cache/
.pytype/
.pyre/
.ruff_cache/

# --- Editors & IDEs ---
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject
.history/
*.sublime-project
*.sublime-workspace

# --- Data & large outputs ---
data/
output/
results/
plots/
*.grib2
*.idx
*.index
*.nc
*.csv

*.pdf
*.log
*.zip
*.tar
*.gz
*.bufr

# --- Docs and build outputs ---
build/
dist/
downloads/
.eggs/
*.egg-info/
docs/_build/
site/

# --- Environment and secrets ---
.env
environment.yml.lock

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

data_processing/data
data_access/imerg_day/
data_access/test_imerg.h5
data_access/data/
